name: generate platformio library

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest  
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Run the nix app
      run: |
        git status 
        nix build .\#default
        
    - name: Upload the DBC file
      uses: actions/upload-artifact@v4
      with:
        name: dbc-file
        path: ./result/*.dbc

          
  generate-and-release-pio-lib:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/mathbrook/ccoderdbc:main
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: dbc-file
        path: /dbc

    - name: Generate code
      run: |
        mkdir -p /can_lib
        cd /app
        ./dbcc -s -o /can_lib /dbc/*.dbc
        mkdir -p /output
        echo "{\n\"name\": \"can_lib\",\n\"version\": \"1.0.1\",\n\"build\": {\n\t\"flags\": [\n\t\t\"-Iinc\",\n\t\t\"-Ilib\",\n\t\t\"-Iconf\"\n\t]\n}\n}" >> /can_lib/library.json
        tar -czvf /output/can_lib.tar.gz /can_lib

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.run_number }}
        release_name: Release ${{ github.run_number }}
        draft: false
        prerelease: false

    - name: PIO release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: /output/can_lib.tar.gz
        asset_name: can_lib.tar.gz
        asset_content_type: application/zip

    - name: DBC release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: /dbc/car.dbc
        asset_name: ksu_can.dbc
        asset_content_type: text/plain


  generate-and-release-rust-lib:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Install dbc-codegen-cli
      run: cargo install dbc-codegen-cli

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: dbc-file
        path: ~/dbc
        
    - name: compile rust lib
      run: |
        cd ~
        cargo new --lib ksu-rs-dbc
        rm ~/ksu-rs-dbc/src/lib.rs
        echo "#![no_std]\n\npub mod messages;\n" >> ~/ksu-rs-dbc/src/lib.rs
        ~/.cargo/bin/dbc-codegen ~/dbc/*.dbc ~/ksu-rs-dbc/src/
        tar -czvf ~/ksu-rs-dbc ~/rust-out

    - name: Rust release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ~/rust-out
        asset_name: ksu-rs-dbc.tar.gz
        asset_content_type: text/plain
